//

button {
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background-color: white;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 1px 3px grey;
}


#show_form {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  padding: 12px 20px;
  background-image: 
    linear-gradient(to right, rgba(59, 42, 59, 0.8), rgba(56, 135, 106, 0.8)),
    url("/zoroeyes.webp"); 
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: auto;
  text-shadow: 1px 1px 2px black; 
}

#show_form:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


#show_form:focus {
  outline: none;
  box-shadow: 0 0 0 2px lightblue;
}

#submit_button {
  font-family: "Roboto Condensed", sans-serif;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to left, lightblue, #00ffa2);
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  z-index: 10;
}

#submit_button:hover {
  background-color: rosybrown;
  transform: scale(1.01);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

#submit_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px lightblue;
}

.details-btn, .back_to_all_players {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  width: 80%;
  background-image: 
    linear-gradient(to left, rgba(59, 42, 59, 0.8), rgba(56, 135, 106, 0.8)),
    url("/zoroeyes.webp"); 
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 2px black; 
}

.details-btn, .back_to_all_players :hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.remove-btn {
  background-color: transparent !important;
  color: grey !important;
  font-size: 10px !important;
  padding: top 10px !important;
  padding-bottom: 0.5px !important;
  border: none !important;
  cursor: pointer;
  width: 80%;
  transition: background-color 0.3s, transform 0.3s;
}

.remove-btn:hover {
  background-color: grey;
  transform: scale(1.09) !important;
  box-shadow: none !important;
}


