@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

h1 {
  text-align: center;
  font-family: "Roboto Condensed";
  font-weight: lighter;
  padding: 10px 20px;
  color: white;
}

button {
  font-family: "Roboto Condensed", sans-serif;
}

main {
  flex-grow: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

#show_form {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  margin-right: 20px;
  
}
