// abstracts/_variables.scss

// Fonts
$font-family-main: "Roboto Condensed", sans-serif;
$font-weight-light: lighter;

// Colors
$gradient-primary: linear-gradient(to right, #ffbbff, #00ffa2);
$gradient-secondary: linear-gradient(to left, lightblue, #00ffa2);
$color-white: #ffffff;
$color-black: #000000;
$color-grey: grey;
$color-rosybrown: rosybrown;
